**/.env*
**/*.env
**/.git
**/node_modules
**/.next
**/out
**/data
!public/data
!public/data/**
backend/*
!backend/builtin-routes.mjs
!backend/walk-document.mjs
**/coverage
**/*.tsbuildinfo
**/*.log
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/secrets
**/.ssh
**/.DS_Store
.vercel
